@{
    ViewBag.Title = "Blow Out!";
}
<!--Jumbotron on the top of a page-->

<style>
    body {
        background-image: url('images/black-sketches-of-musical-instruments-on-white-background-elaine-plesser.jpg');
        background-size: cover;
    }
</style>

<div class="jumbotron">
    <h1>Welcome to BlowOut</h1>
    <p class="lead">We blow our competitors out of the water!</p>
    <p class="lead">Blowout has new and used instruments for you to rent for all your needs</p>


    <a href="@Url.Action("Rental", "Home")" class="w3-bar-item w3-button">Rentals</a>
    <a href="@Url.Action("About", "Home")" class="w3-bar-item w3-button">About</a>
    <a href="@Url.Action("Contact", "Home")" class="w3-bar-item w3-button">Contact</a><br />
    
    <p>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.  - Johann Sebastian Bach</p>

</div>

