
@{
    ViewBag.Title = "Trumpet";
}

<h2>Trumpet</h2>

How would you like to rent it?

<a href="@Url.Action("TrumpetNew", "Home")" class="w3-bar-item w3-button">New</a>

<a href="@Url.Action("TrumpetUsed", "Home")" class="w3-bar-item w3-button">Used</a>
