.myFooterText {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #acdef1 !important;
}

.jumbotron {
    background-color: #acdef1 !important;
}

.w3-btn, .w3-button {
    font-size: 2.5rem;
    background-color: #e6f8ff !important;
}

td, th {
    padding: 20px !important;
}